<%= provide :title, t("admin.courses.visit.title") %>
<h3><%= I18n.t "admin.courses.visit.title" %></h3>
<ul class="courses">
  <%= render @courses || I18n.t(".no_avaiable") %>
</ul>
<%= will_paginate @courses %>
